/* --------------------重置默认样式------------------- */
* {
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
}
ul,
li{
    list-style: none;
}
/* ---------------------版心模块---------------------- */
.con {
    min-width: 320px;
    /*body居中*/
    margin: 0 auto;
    /*width: 100%;*/
    height: 100%;
    padding: 2px 4px;
}
/* ---------------------显示面板模块--------------------- */
/* 面板整体样式 */
.show {
    position: relative;
    height: 40%;
    border-radius: 6px;
}

/* 顶部tips的样式 */
.tips,
.tips1,
.tips2 {
    position: relative;
    top: 6px;
    margin: 0 auto;
    width: 9.5rem;
    height: 1.2em;
    overflow: hidden;
    border-radius: 6px;
    font-size: .4rem;
}

.tips1,
.tips2{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    /*height: 100%;*/
    z-index: 1;
}

.tips[level = '1']::before{
    content: 'equal:';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 5px;
    color: #859a3a;
    z-index: 2;
    background-color: rgba(33, 64, 49,.6);
}

.tips[level = '2']::before{
    content: 'notice:';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 5px;
    color: #9a423a;
    z-index: 2;
    background-color: rgba(33, 64, 49,.6);
}

.tips[level = '3']::before{
    content: 'caution:';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 5px;
    color: #9a3a3a;
    z-index: 2;
    background-color: rgba(33, 64, 49,.6);
}

/* 面板中间的式子 */
.formula {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 9rem;
    font-size: .5rem;
    word-wrap: break-spaces;
    transform: translate(-50%, -50%);
}

/* 面板底部的输入框 */
.result {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 9.5rem;
    /* 文本太长显示省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 6px;
}
/* ---------------------键盘模块--------------------- */
.keyEnter {
    height: 60%;
}

.keyEnter ul {
    display: flex;
    height: 100%;
    flex-flow: row wrap;
}

.keyEnter li {
    flex: 25%;
    position: relative;
    overflow: hidden;
    min-height: .6rem;
    /* 盒子之间的间隔 */
    border: rgb(14, 38, 27) solid 2px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.keyEnter [data-basic='equal'] {
    flex: 100%;
}

.keyEnter span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: .8em;
    width: 50%;
    font-size: .5rem;
    font-weight: 700;
}

li:hover span {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%) scale(1.3);
    transform-origin: center 1em;
    font-weight: 400;
}
/* ---------------------color--------------------- */
/* 显示面板公式、tips的颜色 */
.formula,
.tips,
.tips1,
.tips2{
    color: rgba(180, 217, 206,0.5);
}
/* 键盘中的数字、运算符颜色 */
.keyEnter span {
    color: rgba(180, 217, 206,0.8);
}
.result{
    color: rgb(14, 38, 27);
}
/* body背景颜色 */
body {
    background-color: rgb(14, 38, 27);
}
/* 显示面板颜色 */
.show {
    background-color: rgb(77, 115, 101);
}

/* 显示面板tips背景的颜色 */
/*.tips,*/
.tips1,
.tips2{
    background-color: rgb(113, 143, 132);
}
/* 显示面板结果的背景颜色 */
.result{
    background-color: rgba(180, 217, 206,0.5);
}

/* 按键的背景颜色 */
.keyEnter li {
    background-color: rgb(33, 64, 49);

}
/* 按键中运算符的背景颜色 */
.keyEnter [data-type='operator'] {
    background-color: rgba(33, 64, 49,0.8);

}